<!--
Connor Warner
CIS 218
2/28/24
-->

{% extends "base.html" %}

{% block content %}
<div class="review mx-5">
    <header class="d-flex flex-wrap mt-3">
        <a href="{% url "review_detail" review.pk %}" class="align-self-center"><button type="button" class="btn btn-secondary px-2 py-0 fs-4">&#8592;</button></a>
        <div class="fs-1 ms-3">{{ review.restaurant }} - Edit Review</div>
    </header>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-success">
    </form>
<div>
{% endblock content %}